@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFB;
  --foreground: #33363A;
}

.dark {
  --background: #060E1F;
  --foreground: #EFEFF0;
}

.clip-wave {
  clip-path: path("M0,0 Q25, 20 57, 0 H61 V63 Q31, 40 0, 60 Z");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}